:root {
    --grid-cols: 2;
    --grid-rows: 2;
}

.heading {
    text-align: center;
    color: aquamarine;
}

/*Overflow used to ensure contents of .grid-item doesnt exceed the size of #container. */
#container {
    display: grid;
    border: 1px solid #ddd;
    grid-template-rows: repeat(var(--grid-rows), 1fr);        
    grid-template-columns:  repeat(var(--grid-cols), 1fr);    
    width: 960px;
    height: 960px;
    position: relative;
    transform: translateX(85%);
    
  }
  
  /*
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  } */

  .grid-item {
    
    width: 1%;
    height: 1%;
    min-width: 20px;
    min-height: 20px;
}

.grid-value {
  margin-bottom: 10px;
}