:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.heading {
    text-align: center;
    color: aquamarine;
}
#container {
    display: inline-block;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  /*.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  } */

  .grid-item {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: inline-block;
}